*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
xytheme/src/main/res/.DS_Store
app/gradlew
app/gradlew.bat
app/gradle/wrapper/gradle-wrapper.properties
.gradle
.idea
*.iml
gradlew
gradlew.bat
gradle/
